a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #5276A6;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  /* background-color: #5276A6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer; */

}
button:hover {
  border-color: white;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: white;
  }
  button {
    /* background-color: #f9f9f9; */
    background-color: #5276A6;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-image: url("./krzysztof-kowalik-bg.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90vw;
  height: 90vh;
  background-color: rgba(27, 40, 64, 0.75);
  backdrop-filter: blur(10px) saturate(200%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  overflow: hidden;
}

/* Chat container styles */
.chat-container {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: transparent;
}

.loading {
  padding: 30px;
  border-radius: 12px;
  background-color: rgba(27, 40, 64, 0.75);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-45deg, #7399C3, #132C58);
  border-radius: 50px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #5276A6;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: white;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

a:hover {
  color: white;
}
